@using static PeakFit.Web.Extensions.ClaimsPrincipalExtensions
@using static PeakFit.Core.Constants.RoleConstants

@model IEnumerable<PeakFit.Core.Models.EventModels.AllEventsInfoModel>
@{
    ViewData["Title"] = "All Upcoming Events";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<link rel="stylesheet" href="~/css/eventCard.css">
<section class="event-section">
    @foreach (var Model in Model)
    {
        <div class="event-item">
            <img src="@Model.ImageUrl" alt="Event Image" class="event-image">
            <div class="event-details">
                <h3 class="event-title">@Model.Title</h3>
                <p class="event-date">Trainer Name: @Model.TrainerUserName</p>
                <p class="event-date">Start Date: @Model.StartDate</p>
                <p class="event-time">Start Hour: @Model.StartHour</p>
            </div>
            <div class="buttons" style="display: flex;flex-direction: row; gap:5px;">
               
                <a asp-controller="Event" asp-action="Details" asp-route-id="@Model.Id"  name="details" class="btn btn-info" style="color:white;width:150px;">More info</a>
                @{
                    if (User?.Identity?.Name == Model.TrainerEmail || User?.IsAdmin()==true)
                    {
                        <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id" name="details" class="btn btn-warning" style="color:white;width:150px;">Edit Event</a>
                        <a asp-area="" asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id"
                           class="btn btn-danger">Delete</a>
                    }
                }
            </div>
        </div>
    }
    
</section>

