@using PeakFit.Core.Models.AdminModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PeakFit.Core.Models.AdminModels.AdminPanelServiceModel
@{
	ViewData["Title"] = "Admin Page";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h4>Dashboard</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 mb-4">
			<div class="card bg-dark text-white h-100" >
				<div class="card-body py-5" style="font-size:18px;">Total trainers count</div>
				<div class="card-footer d-flex">
					<h3>@Model.TotalTrainers</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card bg-primary text-white h-100" >
				<div class="card-body py-5" style="font-size:18px;">Total users count</div>
				<div class="card-footer d-flex">
					<h3>@Model.TotalUsers</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card bg-warning text-dark h-100" >
				<div class="card-body py-5" style="font-size:18px;">Total events count</div>
				<div class="card-footer d-flex">
					<h3>@Model.TotalEvents</h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card bg-success text-white h-100" >
				<div class="card-body py-5" style="font-size:18px;">Total training programs count</div>
				<div class="card-footer d-flex">
					<h3>@Model.TotalPrograms</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 mb-3">
		<div class="card">
			<div class="card-header">
				<span><i class="bi bi-table me-2"></i></span> The latest 15 events
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="example"
						   class="table table-striped data-table"
						   style="width: 100%">
						<thead>
							<tr>
								<th>Trainer name</th>
								<th>Event title</th>
								<th>Start Date</th>
								<th>Comments</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.LatestEvents)
							{
								<tr>
									<td>@item.TrainerFirstName @item.TrainerLastName</td>
									<td>@item.EventTitle</td>
									<td>@item.StartDate @item.StartHour</td>
									<td>@item.CommentsCount</td>
								</tr>
							}
						</tbody>
						<tfoot>
							<tr>
								<th>Trainer name</th>
								<th>Event title</th>
								<th>Start Date</th>
								<th>Comments</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 mb-3">
		<div class="card">
			<div class="card-header">
				<span><i class="bi bi-table me-2"></i></span> The latest 15 training programs
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="example"
						   class="table table-striped data-table"
						   style="width: 100%">
						<thead>
							<tr>
								<th>Trainer name</th>
								<th>Program category</th>
								<th>Exercises count</th>
								<th>Average rating</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.LatestPrograms)
							{
								<tr>
									<td>@item.TrainerFirstName @item.TrainerLastName</td>
									<td>@item.TrainingProgramCategory</td>
									<td>@item.ExercisesCount</td>
									<td>@item.Rating</td>
								</tr>
							}
						</tbody>
						<tfoot>
							<tr>
								<th>Trainer name</th>
								<th>Program category</th>
								<th>Exercises count</th>
								<th>Average rating</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
		</div>